<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar{
            width: 99.5vw;
        }
        input{
            width: 50vw;
            margin: 0 153px;
            border-radius: 15px;
            font-size: 25px;
            padding-left: 10px;
            outline: none;
        }
        .logo{
            font-size: 39px;
        }
        form{
            display: contents;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <span class="logo">Ax Engine</span>
        <form action="" method="get">
            <input type="text" name="query" id="" placeholder="{{query}}" autocomplete="off">
        </form>
    </nav>
    <div class="results">
        <div class="link">
            <div><a href="{{link1}}">{{title1}}</a></div>
            <p>{{descriptions1}}</p>
        </div>
        <div class="link">
            <div><a href="{{link2}}">{{title2}}</a></div>
            <p>{{descriptions2}}</p>
        </div>
        <div class="link">
            <div><a href="{{link3}}">{{title3}}</a></div>
            <p>{{descriptions3}}</p>
        </div>
        <div class="link">
            <div><a href="{{link4}}">{{title4}}</a></div>
            <p>{{descriptions4}}</p>
        </div>
        <div class="link">
            <div><a href="{{link5}}">{{title5}}</a></div>
            <p>{{descriptions5}}</p>
        </div>
        <div class="link">
            <div><a href="{{link6}}">{{title6}}</a></div>
            <p>{{descriptions6}}</p>
        </div>
    </div>
</body>
</html>